* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    border: 1px solid brown;
    margin: 10px;
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: green;
            text-decoration: underline purple;
        }
        section {
            width: 95%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            border: 1px solid green;
            margin: 10px;
            article {
                border-right: 3px solid green;
                p {
                    margin: 10px;
                    
                }
            }
        }
    }
}



$blu: blue;
$red: red;   

.p-1 {
    color: $blu;
}
.p-2 {
    color: $red;
}