*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Body andiamo a personalizzare il Body */


body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p {

    color: black;
    padding: 30px;

}

.big-text { font-size: 70px;}
.medium-text { font-size: 40px;}
.small-text { font-size: 30px;}


    .button {
        padding: 10px 20px;
        background-color: red;
        color: rgb(245, 242, 242);
        display: inline-block;
        border-radius: 5px;
    }




.section{
    display: flex;
    width:100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
}

.intro-text { text-transform: uppercase;
    font-size: 20px;font-weight: bold;}

.Box-features {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top: 2rem;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(218, 218, 218);
    border-bottom-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0px 1rem;
    

}

.immagine-box {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
}
.box-h3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0px;
    overflow: hidden;
    height: calc(2.8em);
    padding-left: 0.375rem;
    color: black;
}



a:hover {
    color: red;
}

span  {
    padding-left: 0.375rem;
    border-left: 3px solid rgb(230, 0, 18);
    color: black;
    
}





